In [1]:
import numpy as np
import pandas as pd

In [2]:
tips_analysis = pd.read_csv("C:\\Datasets\\Datasets for FREE AI Classes in Every City\\tips.csv")
tips_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  744 non-null    float64
 1   tip         744 non-null    float64
 2   gender      744 non-null    object
 3   smoker      744 non-null    object
 4   day         744 non-null    object
 5   time        744 non-null    object
 6   size        744 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 40.8+ KB

In [3]:
tips_analysis.head()

   total_bill     tip  gender smoker   day    time  size
0     2125.50  360.79    Male     No  Thur   Lunch     1
1     2727.18  259.42  Female     No   Sun  Dinner     5
2     1066.02  274.68  Female    Yes  Thur  Dinner     4
3     3493.45  337.90  Female     No   Sun  Dinner     1
4     3470.56  567.89    Male    Yes   Sun   Lunch     6

In [4]:
tips_analysis.tail()

     total_bill     tip  gender smoker   day    time  size
739     3164.27  645.28    Male     No   Sat  Dinner     3
740     2962.62  218.00  Female    Yes   Sat  Dinner     2
741     2471.03  218.00    Male    Yes   Sat  Dinner     2
742     1942.38  190.75    Male     No   Sat  Dinner     2
743     2047.02  327.00  Female     No  Thur  Dinner     2

In [5]:
# the shape of the dataset
tips_analysis.shape

(744, 7)

In [6]:
# columns
tips_analysis.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size'], dtype='object')

In [7]:
tips_analysis.describe()

        total_bill          tip        size
count   744.000000   744.000000  744.000000
mean   2165.006640   325.948091    3.180108
std     954.248806   148.778225    1.532890
min      44.690000     0.000000    1.000000
25%    1499.022500   218.000000    2.000000
50%    2102.610000   320.460000    3.000000
75%    2743.802500   415.562500    4.000000
max    5538.290000  1090.000000    6.000000

In [8]:
# checking for null values
tips_analysis[tips_analysis.isnull()].any()

total_bill    False
tip           False
gender        False
smoker        False
day           False
time          False
size          False
dtype: bool

In [9]:
tips_analysis['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
# counting the number of values in gender
tips_analysis['gender'].value_counts()

gender
Male      409
Female    335
Name: count, dtype: int64

In [11]:
(tips_analysis['gender'] == 'Male').sum()

409

In [12]:
# genders classified based on if they are smokers
tips_analysis.groupby('gender')['smoker'].value_counts().unstack()

smoker   No  Yes
gender
Female  175  160
Male    223  186

In [13]:
# genders base on days they eat
x = tips_analysis.groupby('gender')['day'].value_counts().unstack()
x

day     Fri  Mon  Sat  Sun  Thur  Tues  Wed
gender
Female   34   41   71   48    70    42   29
Male     45   34   94   92    64    36   44

In [14]:
tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Sun')].shape[0]
# tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Sun')]

35

In [15]:
tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Mon')].shape[0]

18

In [16]:
tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Tues')].shape[0]

21

In [17]:
# tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Wed')]

In [18]:
# tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Thur')]

In [19]:
# tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Fri')]

In [20]:
# tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Sat')]

In [21]:
# tips_analysis[(tips_analysis['gender']=='Male') & (tips_analysis['smoker']=='Yes') &(tips_analysis['day']=='Sun')]

In [22]:
# Genders that are smokers and non-smokers and days they usually eat
tips_analysis.groupby(['gender', 'smoker'])['day'].value_counts().unstack()

day            Fri  Mon  Sat  Sun  Thur  Tues  Wed
gender smoker
Female No       11   16   35   28    43    26   16
       Yes      23   25   36   20    27    16   13
Male   No       22   16   52   57    36    15   25
       Yes      23   18   42   35    28    21   19

In [23]:
# genders that are smokers and non-smokers and days they eat and time the usually eat
tips_analysis.groupby(['gender', 'smoker'])[['day','time']].value_counts().unstack()

time                Dinner  Lunch
gender smoker day
Female No     Fri        4      7
              Mon        9      7
              Sat       25     10
              Sun       20      8
              Thur      10     33
              Tues      14     12
              Wed       10      6
       Yes    Fri       12     11
              Mon       10     15
              Sat       26     10
              Sun       15      5
              Thur       9     18
              Tues       8      8
              Wed        8      5
Male   No     Fri        9     13
              Mon        5     11
              Sat       43      9
              Sun       49      8
              Thur      11     25
              Tues       7      8
              Wed       14     11
       Yes    Fri       12     11
              Mon       11      7
              Sat       32     10
              Sun       25     10
              Thur       7     21
              Tues      14      7
              Wed        8     11

In [31]:
tips_analysis.groupby(['gender', 'smoker'])[['day','time', 'tip']].value_counts().unstack().dropna(axis='columns',thresh=5).fillna(0)

tip                        156.96  163.50  218.00  272.50  299.75  327.00  \
gender smoker day  time
Female No     Fri  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     1.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     0.0     1.0     1.0     0.0     1.0     3.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sun  Dinner     0.0     0.0     1.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     1.0
                   Lunch      0.0     3.0     5.0     0.0     1.0     0.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
       Yes    Fri  Dinner     0.0     0.0     0.0     2.0     0.0     2.0
                   Lunch      0.0     0.0     1.0     1.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      1.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     0.0     0.0     2.0     2.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sun  Dinner     1.0     0.0     0.0     0.0     0.0     1.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     2.0     1.0     0.0     0.0
              Tues Dinner     0.0     0.0     0.0     0.0     1.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     1.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
Male   No     Fri  Dinner     0.0     1.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     1.0     0.0     3.0     1.0     0.0     2.0
                   Lunch      0.0     0.0     0.0     0.0     1.0     0.0
              Sun  Dinner     0.0     0.0     6.0     3.0     0.0     3.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      1.0     1.0     3.0     1.0     0.0     2.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
       Yes    Fri  Dinner     0.0     1.0     0.0     0.0     0.0     2.0
                   Lunch      0.0     1.0     1.0     0.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     1.0     1.0     4.0     0.0     0.0     5.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sun  Dinner     0.0     1.0     3.0     0.0     0.0     1.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     3.0     0.0     0.0     1.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0

tip                        336.81  352.07  379.32  381.50  436.00  456.71  \
gender smoker day  time
Female No     Fri  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     0.0     0.0     1.0     0.0     0.0     0.0
                   Lunch      0.0     1.0     0.0     0.0     0.0     0.0
              Sun  Dinner     0.0     0.0     0.0     2.0     1.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     1.0     0.0     0.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     1.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
       Yes    Fri  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     1.0     0.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     1.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     1.0     0.0     1.0     0.0     1.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sun  Dinner     1.0     1.0     0.0     2.0     1.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     1.0
                   Lunch      0.0     1.0     0.0     0.0     0.0     1.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
Male   No     Fri  Dinner     0.0     0.0     0.0     1.0     0.0     1.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sun  Dinner     0.0     1.0     1.0     2.0     1.0     0.0
                   Lunch      1.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     1.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     2.0     0.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
       Yes    Fri  Dinner     0.0     0.0     0.0     0.0     1.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Mon  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sat  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Sun  Dinner     0.0     1.0     0.0     1.0     2.0     0.0
                   Lunch      1.0     0.0     0.0     0.0     0.0     0.0
              Thur Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     3.0     1.0
              Tues Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      0.0     0.0     0.0     0.0     0.0     0.0
              Wed  Dinner     0.0     0.0     0.0     0.0     0.0     0.0
                   Lunch      1.0     0.0     0.0     0.0     0.0     0.0

tip                        545.00
gender smoker day  time
Female No     Fri  Dinner     0.0
                   Lunch      0.0
              Mon  Dinner     0.0
                   Lunch      0.0
              Sat  Dinner     0.0
                   Lunch      0.0
              Sun  Dinner     1.0
                   Lunch      0.0
              Thur Dinner     0.0
                   Lunch      1.0
              Tues Dinner     0.0
                   Lunch      0.0
              Wed  Dinner     0.0
                   Lunch      0.0
       Yes    Fri  Dinner     0.0
                   Lunch      0.0
              Mon  Dinner     0.0
                   Lunch      1.0
              Sat  Dinner     1.0
                   Lunch      0.0
              Sun  Dinner     0.0
                   Lunch      0.0
              Thur Dinner     0.0
                   Lunch      1.0
              Tues Dinner     0.0
                   Lunch      0.0
              Wed  Dinner     0.0
                   Lunch      0.0
Male   No     Fri  Dinner     0.0
                   Lunch      0.0
              Mon  Dinner     0.0
                   Lunch      1.0
              Sat  Dinner     1.0
                   Lunch      0.0
              Sun  Dinner     3.0
                   Lunch      0.0
              Thur Dinner     0.0
                   Lunch      1.0
              Tues Dinner     0.0
                   Lunch      0.0
              Wed  Dinner     0.0
                   Lunch      0.0
       Yes    Fri  Dinner     0.0
                   Lunch      0.0
              Mon  Dinner     0.0
                   Lunch      0.0
              Sat  Dinner     0.0
                   Lunch      0.0
              Sun  Dinner     0.0
                   Lunch      0.0
              Thur Dinner     0.0
                   Lunch      1.0
              Tues Dinner     0.0
                   Lunch      0.0
              Wed  Dinner     0.0
                   Lunch      0.0

In [25]:
tips_analysis.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size'], dtype='object')

In [26]:
# describe the tip column
tips_analysis['tip'].describe()

count     744.000000
mean      325.948091
std       148.778225
min         0.000000
25%       218.000000
50%       320.460000
75%       415.562500
max      1090.000000
Name: tip, dtype: float64

In [27]:
tips_analysis['tip']

0      360.79
1      259.42
2      274.68
3      337.90
4      567.89
        ...
739    645.28
740    218.00
741    218.00
742    190.75
743    327.00
Name: tip, Length: 744, dtype: float64