# Assignment 1
1. Create a Series object from a list of 10 items using a customized index values. 
2. Create a Series object from a dictionary of 10 items. 
3. Create a DataFrame object from a Series object with a customized index values
4. Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array. Give each columns a title and each index a name.
5. Separate the DataFrame in number 4 to its individual Index, Values and Colomns

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Create a Series object from a list of 10 items using a customized index values

months = pd.Series(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct'], index = [1,2,3,4,5,6,7,8,9,10])
months

1      Jan
2      Feb
3      Mar
4      Apr
5      May
6     June
7     July
8      Aug
9     Sept
10     Oct
dtype: object

In [9]:
# Create a Series object from a dictionary of 10 items.

States= {'Lagos':1, 'Cross-River':2, 'Abuja':3, 'Akwa Ibom':4, 'Oyo':5, 'Port Harcourt':6, 'Delta':7, 'Imo':8, 'Enugu':9, 'Edo':10}
Top_States = pd.Series(States)
Top_States

Lagos             1
Cross-River       2
Abuja             3
Akwa Ibom         4
Oyo               5
Port Harcourt     6
Delta             7
Imo               8
Enugu             9
Edo              10
dtype: int64

In [15]:
# Create a DataFrame object from a Series object with a customized index values

months = pd.Series(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'], index = [1,2,3,4,5,6,7,8,9,10,11,12])
months
Total_months = pd.DataFrame({'Months in a year':months})
Total_months

   Months in a year
1               Jan
2               Feb
3               Mar
4               Apr
5               May
6              June
7              July
8               Aug
9              Sept
10              Oct
11              Nov
12              Dec

In [24]:
# Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array.
# Give each columns a title and each index a name

Name = pd.DataFrame(np.random.rand(5,5), columns=['Favour', "Philip",'Faith','Tayo', 'Bayo'],
                    index=['First Score', 'Second Score', 'Third Score', 'Fourth Score', 'Fifth Score'])
Name

                Favour    Philip     Faith      Tayo      Bayo
First Score   0.015417  0.029740  0.105241  0.149794  0.679502
Second Score  0.374197  0.706194  0.093827  0.564387  0.298669
Third Score   0.559811  0.846665  0.806719  0.962199  0.998763
Fourth Score  0.285829  0.275635  0.601791  0.241645  0.289808
Fifth Score   0.456878  0.347145  0.285068  0.513988  0.116206

In [28]:
# Separate the DataFrame in number 4 to its individual Index, Values and Columns
Name.index

Index(['First Score', 'Second Score', 'Third Score', 'Fourth Score',
       'Fifth Score'],
      dtype='object')

In [29]:
Name.values

array([[0.01541684, 0.02973992, 0.10524144, 0.14979382, 0.67950162],
       [0.37419731, 0.70619372, 0.09382677, 0.56438676, 0.29866916],
       [0.55981078, 0.84666523, 0.80671928, 0.96219871, 0.99876251],
       [0.28582876, 0.27563516, 0.6017908 , 0.24164548, 0.28980773],
       [0.4568776 , 0.34714493, 0.2850679 , 0.51398783, 0.11620602]])

In [30]:
Name.columns

Index(['Favour', 'Philip', 'Faith', 'Tayo', 'Bayo'], dtype='object')